.entry{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
}
.entry__title{
    font-size: 8vh;
}
.entry__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.entry__personalStatement{
    width: 40vw;
    height: 40vh;
    text-align: left;
    font-size: 2rem;
}

.entry__picture{
    width: 50rem;
    height: auto;
    object-fit: scale-down;
}

