.entry{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
}
.entry__title{
    font-size: 9rem;
}

.entry__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}

.entry__text{
    width: 40vw;
    height: 50vh;
    text-align: left;
    font-size: 3rem;
    margin-bottom: 5vh;
}

.entry__picture{
    width: 45vw;
    height: auto;
    max-height: 50vh;
    object-fit: contain;
    margin-bottom: 5vh;
}

@media screen and (max-width:1300px){
    .entry__text{
        font-size: 4rem;  
    }
}

@media screen and (max-width:1100px){
    .entry__info{
        flex-direction: column;
        align-items: center;
    }
    .entry__text{
        font-size: 5rem;
        width: 90vw;   
    }

    .entry__picture{
        width: 90vw;
    }
}

@media screen and (max-width:450px){
   
    .entry__text{
        font-size: 4rem;  
    }

    
}






