.quals{
    width: 100%;
    font-size: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.quals__title{
    font-size: 9rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}