.sendAMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 100vh;
    justify-content: center;
    border-bottom: 1px solid black;
}
@media screen and (max-width:1300px){
    .sendAMessage__inputBox{
        width:100vw;
    }
    .sendAMessage__submit{
        width:100vw;
    }
}

.sendAMessage__title{
    font-size: 5rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

label{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: flex-start;
    padding: 2vh;
    font-size: 3rem;
}

.sendAMessage__inputBox{
    border: 0px;
    background-color: rgb(200, 200, 200);
    width: 30vw;
    height: 4vh;
    font-size: 3rem;

}

.sendAMessage__inputBox__message{
    border: 0px;
    background-color: rgb(200, 200, 200);
    width: 30vw;
    height: 10vh;
    font-size: 2rem;
}

.sendAMessage__submit{
    border: 0px;
    background-color: teal;
    color: white;
    font-size: 5rem;
    border-radius: 20px;
    width: 15vw;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
}
p{
    margin: 0px;
}