.sendAMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 100vh;
    justify-content: center;
    border-bottom: 1px solid black;
}

.sendAMessage__title{
    font-size: 5rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

label{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: flex-start;
    padding: 2vh;
    font-size: 3rem;
}

.sendAMessage__inputBox{
    border: 0px;
    background-color: rgb(200, 200, 200);
    width: 90vw;
    height: 4vh;
    font-size: 3rem;

}

.sendAMessage__inputBox__message{
    border: 0px;
    background-color: rgb(200, 200, 200);
    width: 90vw;
    height: 10vh;
    font-size: 3rem;
}

.sendAMessage__submit{
    border: 0px;
    background-color: teal;
    color: white;
    font-size: 5rem;
    border-radius: 20px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sendAMessage__hidden{
    font-size: 3rem;
    color: red;
    display: none;
}

.sendAMessage__success{
    font-size: 4rem;
    color: green;
    display: none;
}
p{
    margin: 0px;
}