img{
    height: 8vmin;
    width: 5vmin;
}

.header{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    position: fixed;
    color: var(--title-color);
    transition: 0.5s filter;
    z-index: 100;
}

.header__leftDiv{
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__innerDiv{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__text{
    color: white;
    font-size: 40px;
}

@media screen and (max-width:2200px){
    .header__text{
        font-size: 30px;
    }
}

@media screen and (max-width:1600px){
    .header__text{
        font-size: 20px;
    }
}

@media screen and (max-width:1100px){
    .header__text{
        font-size: 15px;
    }
}

@media screen and (max-width:780px){
    .header__text{
        display: none;
    }
}





.header__text__name{
    color: white;
    font-size: 40px;
    white-space: nowrap;
}

@media screen and (max-width:2200px){
    .header__text__name{
        font-size: 30px;
    }
}

@media screen and (max-width:1600px){
    .header__text__name{
        font-size: 20px;
    }
}

@media screen and (max-width:1100px){
    .header__text__name{
        font-size: 15px;
    }
}







.header__text__contact{
    color: white;
    font-size: 40px;
}

@media screen and (max-width:2200px){
    .header__text__contact{
        font-size: 30px;
    }
}

@media screen and (max-width:1600px){
    .header__text__contact{
        font-size: 20px;
    }
}

@media screen and (max-width:1100px){
    .header__text__contact{
        font-size: 15px;
    }
}

