img{
    height: 8vmin;
    width: 5vmin;
}

.header{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    position: fixed;
    color: var(--title-color);
    transition: 0.5s filter;
    z-index: 100;
}

.header__leftDiv{
    width: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__innerDiv{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__text{
    color: white;
    font-size: 4rem;
}

@media screen and (max-width:840px){
    .header__text{
        display: none;
    }
}

.header__text__name{
    color: white;
    font-size: 4rem;
    white-space: nowrap;
}

.header__text__contact{
    color: white;
    font-size: 4rem;
}


